<div class="bg-dark p-4 w-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <p class="text-uppercase text-muted mb-1">
                    <i class="fal fa-bars pe-1"></i>
                    Navigatie
                </p>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link text-light py-1">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/status/" class="nav-link text-light py-1">
                            Status
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/privacybeleid/" class="nav-link text-light py-1">
                            Privacybeleid
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/changelog/" class="nav-link text-light py-1">
                            Changelog
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <p class="text-uppercase text-muted mb-1">
                    <i class="fab fa-github pe-1"></i>
                    GitHub
                </p>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://github.com/Magistraal-App/PWA" class="nav-link text-light py-1" target="_blank" rel="noopener noreferrer">
                            PWA
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/Magistraal-App/magistraal-app.github.io" class="nav-link text-light py-1" target="_blank" rel="noopener noreferrer">
                            magistraal-app.github.io
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <p class="text-uppercase text-muted mb-1">
                    <i class="fal fa-envelope pe-1"></i>
                    Contact
                </p>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="mailto:webmaster@tjalling.net" class="nav-link text-light py-1">
                            webmaster@tjalling.net
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://discord.com/" class="nav-link text-light py-1" target="_blank" rel="noopener noreferrer">
                            Sjaaaling#9532
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/tjallingf/" class="nav-link text-light py-1" target="_blank" rel="noopener noreferrer">
                            GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>