<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="s_PxLdQfNfxaePmkNQn8NPnianVVctm-bvdlORlz0fg">
<title>{{ page.title }} | {{ site.title }}</title>
<meta property="og:title" content="{{ page.title }} | {{ site.title }}">
<meta property="twitter:title" content="{{ page.title }} | {{ site.title }}">
{% if page.description %}
<meta name="description" content="{{ page.description }}">
<meta name="og:description" content="{{ page.description }}">
{% endif %}
<meta property="og:locale" content="{{ site.lang }}">
<meta property="og:type" content="website">
<meta name="og:site_name" content="{{ site.title }}">
<meta name="og:url" content="{{ site.url }}">
<meta property="og:image" content="/assets/images/logo/512x512.png">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>