body {
    overflow: hidden scroll !important;
}

h5, h6 {
    margin-bottom: 0;
}

.btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.btn i + span {
    margin-left: 0.25rem;
}

.btn i[class*="fa-"],
.btn i[class*="fa-"]::before {
    height: 1em;
    min-height: 1em;
    max-height: 1em;
    width: 1em;
    min-width: 1em;
    max-width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-section {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

.page-section .row {
    max-width: max(992px, 70%);
    justify-content: center;
}

.iphone-wrapper {
    max-width: 100%;
    height: 500px;
}

@media(max-width: 767.98px) {
    .iphone-wrapper {
        max-height: 50vh;
    }
}

.iphone {
    position: relative;
    z-index: 5;
    filter: drop-shadow(0 0 1rem rgba(50, 50, 50, 0.75));
    max-height: 100%;
    max-width: 100%;
}

.iphone-drop {
    position: absolute;
    width: clamp(33%, 50%, 50vw);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 50%;
}

.iphone-drop::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

a {
    text-decoration: none !important;
}

a.nav-link {
    transition: 0ms !important;
}

a:hover,
a:focus {
    text-decoration: underline !important;
}