@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rubik&display=swap');

:root {
    --font-main: 'Rubik', 'Arial', sans-serif !important; 
    --font-heading: 'Patua One', 'Open Sans', sans-serif !important;
}

body {
    font-family: var(--font-main);
}

h1, h2, h3, h4, h5, h6, .btn, .font-heading {
    font-family: var(--font-heading);
}